body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.blog-post {
    margin-bottom: 40px;
}

.blog-post h2 {
    margin: 0;
}

.blog-post p {
    margin: 5px 0;
}
