/* Resetting default margin and padding */
body,
h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  /* Add other global styles here */
}

.menu-wrapper {
  /* Example styles */
  background-color: #f3f3f3;
  padding: 20px;
  /* Add more styles as needed */
}

/* Styles for the banner */
.banner {
  background-color: #ff7f7e; /* Set main color */
  /* Add other styles for the banner */
}

.nav-link {
  /* Example styles */
  color: #333;
  text-decoration: none;
  /* Add more styles as needed */
}

/* Styles for the logo */
.w-nav-brand img {
  /* Add styles for the logo */
}

/* Styles for buttons */
.btn {
  /* Add styles for buttons */
}

/* Other specific styles */
/* .class-name { styles } */
/* #id-name { styles } */
